//////////////// Footer \\\\\\\\\\\\\\\\\\\\\\\\\\\\

.footer {
    width: 100%;
    height: 50px;
    background: $grey;
    color: $yellow;
    .footer-text {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        cursor: default;
    }
}