@import "grid.scss";
// @import "scss/header.scss";
// @import "firstsection";
// @import "portfolio.scss";
// @import "summary.scss";
// @import "footer.scss";

$yellow: rgb(255,190,0);
$grey: rgb(38,38,38);
$blue: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}
////////////// header \\\\\\\\\\\\\\\\\\\\\

.header {
    z-index: 333;
    position: fixed;
    width: 100%;
    height: 50px;
    background: $grey;
    color: $yellow;
    padding-top: 10px;
    text-transform: uppercase;
}
.header-name {
    cursor: default;
    a {
        color: inherit;
        text-decoration: none;
    }
}
.header-main {
    
    div {
        width: 33.3333333%;
    }
    display: flex;
    justify-content: space-between;
    .header-menu {
        display: flex;
        justify-content: center;
        div {
            cursor: pointer;
            a {
                color: inherit;
                text-decoration: none;
            }            
        }
        div:hover {
            color: white;
        }

    }
    .header-icons {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;
        a {
            outline: none;
            text-decoration: none;
            color: inherit;
            padding-bottom: 30px;
            
        }
        i {
            margin: 5px;
            position: relative;
            top: -5px;
        }
        i:hover {
            color: $blue;
        }
      
    }
}

@media (max-width: 630px) {
    .header {
        width: 100%;
        position: relative;
        .header-main {
            width: 100%;
            justify-content: space-between;
            padding: 0 10px;
            .header-name {
                display: none;
            }
            .header-menu {
                justify-content: space-between;
                div {
                    padding: 0 5px;
                }
                
            }
        }
        
    }

}


////////////////////////// First Section \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.section-first {
    background: $yellow; 
    width: 100%;
    height: 100%;
    color: $grey;
    border: 1px solid $yellow;
    transition: 1s;
    .section-first-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        
        .about {
            width: 60%;
            text-align: left;
            line-height: 30px;
            padding: 0 50px;
            cursor: default;
            span {
                display: block;
                color: grey;
            }
            .content {
                padding-left: 50px;
            }
            p {
               display: inline; 
            }
            .about-text {
                text-align: center;
                font-size: 70%;
            }
        }
        .pictures {
            width: 40%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            // position: relative;
        }
        
        .square {
            width: 100px;
            height: 100px;
            border: 1px dashed $grey;
            // position: absolute;
            transform: rotate(45deg);
            transition: 2s;
            margin: 20px;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
            img {
                padding: 10px;
                width: 100%;
                height: 100%;
                transform: rotate(-45deg);
                transition: 2s;
            }
        }
    
        .square:nth-child(3),.square:nth-child(4),.square:nth-child(9) {
            background: $grey;
        }
      
        .square:nth-child(5), .square:nth-child(6), .square:nth-child(7), .square:nth-child(8) {
            -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
            opacity: 0.3;
        }
       

        
        .hov:hover {
            transform: rotate(360deg);
            img {
                transform: rotate(360deg)
            }
        }
        
         
    }
    
    
    
}

.dark-blue {
    color: darkblue;
    text-decoration: none;
}
.light-blue {
    color: lightseagreen;
}
.salmon {
    color: purple;
}

@media (max-width: 630px) {
    .section-first {
        height: 100%;
        .section-first-main {
            flex-direction: column;
            .pictures {
                width: 100%;
                flex-direction: row;
                .empty {
                    display: none;
                }
            }
            .about {
                margin-top: 20px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .about-js {
                    display: none;
                }
            }
        }
    }
}

////////////////// Portfolio \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.portfolio {
    width: 100%;
    background: $grey;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    
    div {
        width: 30%;
        height: 215.75px;
        
        margin: 10px;
        color: $yellow;
        transition: 0.5s;
     
        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border: 1px dotted $yellow;
            border-radius: 5%;
            
        }
        img:hover {
            opacity: 0.5;
            
           
        }
        a {
            color: inherit;
        }
        i {
            cursor: pointer;
            text-align: center
        }
        i:hover {
            color: $blue;
        }
       
        p {
            display: inline-block;
            margin-left: 128.44px;
            cursor: default;
           
        }
      
        
    }

}

.shakeit:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @media (max-width: 630px) {
      .portfolio {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          div {
            width: 80%;
            height: 120%;
            p {
                display: none;
            }
          }
      }
  }

////////////////////////// Summary \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.summary {
    
    background: linear-gradient(to left, $blue 70%, $yellow 30%);  
    height: 100%;
    // width: 100%;
    
}

.summary-main {
    width: 100%;
    color: $grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    #mail {
        text-align: center;
        width: 33.33333%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        
        
    }
    #linkedin {
        text-align: center;
        width: 33.33333%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    #github {
        text-align: center;
        width: 33.33333%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        font-size: 70%;
        margin-top: 10px;
    }
    
   
    
    
}

@media (max-width: 630px) {
    .summary-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $yellow;
    }
}


//////////////// Footer \\\\\\\\\\\\\\\\\\\\\\\\\\\\

.footer {
    width: 100%;
    height: 50px;
    background: $grey;
    color: $yellow;
    .footer-main {
        width: 100%;
    }
    .footer-text {
        text-align: center;
       
        height: 100%;
        padding-top: 10px;
        cursor: default;
    }
}

@media (max-width: 630px) {
    .footer-main {
        
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-text {
            text-align: center;
        }
    }
}
////////////////////////// Media \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\



