@import "grid.scss";
// @import "header.scss";
// @import "firstsection";
// @import "portfolio.scss";
// @import "summary.scss";
// @import "footer.scss";

$yellow: rgb(255,190,0);
$grey: rgb(38,38,38);
$blue: rgb(0,173,171);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}
////////////// header \\\\\\\\\\\\\\\\\\\\\

.header {
    z-index: 333;
    position: fixed;
    width: 100%;
    height: 50px;
    background: $grey;
    color: $yellow;
    padding-top: 10px;
    text-transform: uppercase;
}
.header-name {
    cursor: default
}
.header-main {
    div {
        width: 33.3333333%;
    }
    display: flex;
    justify-content: space-between;
    .header-menu {
        display: flex;
        justify-content: center;
        div {
            cursor: pointer;            
        }
        div:hover {
            color: $blue;
        }

    }
    .header-icons {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 10px;
        a {
            outline: none;
            text-decoration: none;
            color: inherit;
            padding-bottom: 30px;
            
        }
        i {
            margin: 5px;
            position: relative;
            top: -5px;
        }
        i:hover {
            color: $blue;
        }
      
    }
}

.section-first {
    background: $yellow;
    background-size: 50%;
    
    width: 100%;
    height: 520px;
    color: $grey;
    border: 1px solid $yellow;
    .section-first-main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        .about {
           
            margin-left: 50px;
            margin-top: 20px;
            width: 100%;
            padding: 100px 200px;
            text-align: center;
            line-height: 30px;
            cursor: default;
            p {
                margin-top: 20px;
            }
        }
        i {
            margin-top: 20px;
            display: inline-block;
            cursor: pointer;
            animation-name: scroll;
            animation-duration: 2s;
            animation-iteration-count: infinite
            
        }
    }
    
    .background {
       
        width: 50%;
        display: flex;
        justify-content: center;
        height: 100%;
        img {
            width: 60%;
            height: 60%;
            opacity: 0.05;
        }
    }
    
}
////// Animation \\\\\
@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5
    }

}

////////////////// Portfolio \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.portfolio {
    background: $grey;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $yellow;
    div {
        width: 30%;
        height: 215.75px;
        // border: 1px dotted $yellow;
        margin: 10px;
        color: $yellow;
        transition: 0.5s;
     
        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border: 1px dotted $yellow;
            border-radius: 5%;
            
        }
        img:hover {
            opacity: 0.5;
           
        }
        a {
            color: inherit;
        }
        i {
            cursor: pointer;
            text-align: center
        }
       
        p {
            display: inline-block;
            margin-left: 128.44px;
            cursor: default;
           
        }
      
        
    }

}

////////////////////////// Summary \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.summary {
    background: rgb(0,173,171);
    height: 150px;
    width: 100%;
    border-bottom: 1px solid $yellow;
}
#contact {
    background: rgb(0,173,171);
}

.summary-main {
    width: 100%;
    color: $grey;
    display: flex;
    justify-content: space-around;
    #mail {
        text-align: center;
        width: 33.33333%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        
        
    }
    #linkedin {
        text-align: center;
        width: 33.33333%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    #github {
        text-align: center;
        width: 33.33333%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        font-size: 70%;
        margin-top: 10px;
    }
    
    
}

//////////////// Footer \\\\\\\\\\\\\\\\\\\\\\\\\\\\

.footer {
    width: 100%;
    height: 50px;
    background: $grey;
    color: $yellow;
    .footer-text {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        cursor: default;
    }
}






