@import "grid.scss";

$yellow: rgb(255,190,0);
$grey: rgb(38,38,38);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}
.header {
    width: 100%;
    height: 80px;
    background: $grey;
    color: $yellow;
    padding-top: 30px;
    text-transform: uppercase;
}
.header-name {
    cursor: default
}
.header-main {
    div {
        width: 33.3333333%;
    }
    display: flex;
    justify-content: space-between;
    .header-menu {
        display: flex;
        justify-content: center;
        div {
            cursor: pointer;
        }
    }
    .header-icons {
        display: flex;
        justify-content: flex-end;
        a {
            outline: none;
            text-decoration: none;
            color: inherit;
        }
        i {
            margin: 5px;
        }
    }
}

//////////////// First section \\\\\\\\\\\\\\\\\\\\\\\\\\\\

.section-first {
    background: $yellow;
    width: 100%;
    height: 520px;
    color: $grey;
    .section-first-main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        div {
            margin: 180px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .top {
                font-size: 55px;
                text-transform: uppercase
            }
            .bottom {
                margin-top: 20px;
                font-size: 30px;
            }
        }
        i {
            margin-top: 20px;
            display: inline-block;
            cursor: pointer;
            animation-name: scroll;
            animation-duration: 2s;
            animation-iteration-count: infinite
            
        }
    }
    
    // .background {
    //     z-index: 2;
    //     background: url('../images/deskop.jpg');
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    //     height: 100%;
    //     // img {
    //     //     width: 60%;
    //     //     height: 60%;
    //     //     opacity: 0.05;
    //     // }
    // }
    
}
////// Animation \\\\\
@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5
    }

}


////////////////// Portfolio \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.portfolio {
    background: $grey;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    div {
        width: 30%;
        height: 215.75px;
        border: 1px dotted $yellow;
        margin: 10px;
        color: $yellow;
        transition: 0.5s;
     
        img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            
        }
        img:hover {
            opacity: 0.5;
           
        }
        a {
            color: inherit;
        }
        i {
            cursor: pointer;
            text-align: center
        }
       
        p {
            display: inline-block;
            margin-left: 128.44px;
           
        }
      
        
    }

}

////////////////////////// Summary \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.summary {
    background: $yellow;
    height: 200px;
    width: 100%;
}
